=begin
{{> api_info}}
=end

require 'spec_helper'

describe {{moduleName}}::Configuration do
  let(:config) { {{moduleName}}::Configuration.default }

  before(:each) do
    # uncomment below to setup host and base_path
    # require 'URI'
    # uri = URI.parse("{{{basePath}}}")
    # {{moduleName}}.configure do |c|
    #   c.host = uri.host
    #   c.base_path = uri.path
    # end
  end
end
