{{>noteinfo}}

class
	API_DESERIALIZER

feature -- Access

	deserializer (f: FUNCTION [TUPLE [STRING, STRING, TYPE [detachable ANY]], detachable ANY]; a_content_type: STRING; a_representation: STRING; a_type:TYPE [detachable ANY]): detachable ANY
			-- From a given response with a given content type to a generic Object.
		do
			Result := f.item ([a_content_type, a_representation, a_type])
		end
end
