{{>licenseInfo}}
package body {{package}}.Clients is
{{#apiInfo}}
{{#apis}}
{{#operations}}
{{#operation}}

   --  {{summary}}
   --  {{notes}}
   procedure {{operationId}} ({{#allParams}}{{paramName}} : in {{dataType}}{{#hasMore}};
      {{/hasMore}}{{/allParams}}) is
   begin
      null;
   end {{operationId}};
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}
end {{package}}.Clients;
