{{>licenseInfo}}
package body {{package}}.Servers is

{{#apiInfo}}
{{#apis}}
{{#operations}}
{{#operation}}

   --  {{summary}}{{#vendorExtensions.x-has-notes}}
   --  {{#lambdaAdaComment}}{{unescapedNotes}}{{/lambdaAdaComment}}{{/vendorExtensions.x-has-notes}}
   overriding
   procedure {{operationId}}
      (Server : in out Server_Type{{#hasParams}};{{/hasParams}}
       {{#allParams}}{{paramName}} : in {{dataType}}{{#hasMore}};
       {{/hasMore}}{{/allParams}}{{#returnType}};
       Result  : out {{returnType}}{{/returnType}};
       Context : in out Swagger.Servers.Context_Type) is
   begin
      null;
   end {{operationId}};
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}

end {{package}}.Servers;
