{{#operations}}
#import "{{classname}}.h"
{{#imports}}#import "{{import}}.h"
{{/imports}}
{{newline}}


@implementation {{classname}}
static NSString * basePath = @"{{basePath}}";

{{#operation}}
-({{returnType}}) {{nickname}} {{#allParams}}{{#secondaryParam}}{{paramName}}{{/secondaryParam}}:({{{dataType}}}) {{paramName}}
    {{/allParams}} {
    NSMutableString* requestUrl = [NSMutableString stringWithFormat:@"%@{{path}}?", basePath];

    // remove format in URL
    [requestUrl replaceCharactersInRange: [requestUrl rangeOfString:@".{format}"] withString:@".json"];
    {{#pathParams}}[requestUrl replaceCharactersInRange: [requestUrl rangeOfString:[NSString stringWithFormat:@"%@%@%@", @"{", @"{{baseName}}", @"}"]] withString:{{paramName}}];
    {{/pathParams}}

    {{#requiredParamCount}}
    {{#requiredParams}}
    if({{paramName}} == nil) {
        // error
    }
    {{/requiredParams}}
    {{/requiredParamCount}}

    {{#queryParams}}
    if({{paramName}} != nil) [requestUrl appendString:[NSString stringWithFormat:@"{{paramName}}=%@", {{paramName}}]];
    {{/queryParams}}

    NSError* error = nil;
    NSURLResponse* response = nil;
    NSMutableURLRequest* request = [[[NSMutableURLRequest alloc] init] autorelease];
    
    NSURL* URL = [NSURL URLWithString:requestUrl];
    [request setURL:URL];
    [request setCachePolicy:NSURLRequestReloadIgnoringLocalCacheData];
    [request setTimeoutInterval:30];
    
    NSData* data = [NSURLConnection sendSynchronousRequest:request returningResponse:&response error:&error];
    
    if (error) {
        NSLog(@"Error performing request %@", requestUrl);
        {{#returnBaseType}}return 0;
    {{/returnBaseType}}
    }
    {{#returnBaseType}}
    NSString* jsonString = [[NSString alloc] initWithData:data encoding:NSUTF8StringEncoding];    
    id results = [jsonString objectFromJSONString];

    {{#returnContainer}}
    if([results isKindOfClass:[NSArray class]]){
        NSMutableArray * objs = [[NSMutableArray alloc] initWithCapacity:[results count]];
        for (NSDictionary* dict in results) {
            {{{returnBaseType}}}* d = [[{{{returnBaseType}}} alloc]initWithValues: dict];
            [objs addObject:d];
        }
        return objs;
    }
    {{/returnContainer}}
    {{#returnSimpleType}}
    return [[{{returnBaseType}} alloc]initWithValues: results];
    {{/returnSimpleType}}
    {{/returnBaseType}}
    {{^returnBaseType}}
    return;
    {{/returnBaseType}}
{{newline}}
}
{{/operation}}
{{newline}}
{{/operations}}
@end