#import <Foundation/Foundation.h>
{{#imports}}#import "{{import}}.h"
{{/imports}}
{{newline}}
{{#models}}
{{#model}}

@interface {{classname}} : NSObject {
@private
    {{#vars}}
    {{datatype}} _{{name}};
    {{/vars}}
}
{{newline}}
{{#vars}}
@property(nonatomic, readonly) {{datatype}} {{name}};
{{/vars}}
- (id) {{#vars}}{{name}}: ({{datatype}}) {{name}}{{#hasMore}}{{newline}}     {{/hasMore}}{{^hasMore}};{{/hasMore}}
       {{/vars}}
{{newline}}
- (id) initWithDictionary: (NSDictionary*)dict;
{{newline}}
@end
{{/model}}
{{/models}}