class {{classname}} {
  {{#vars}}{{#description}}/* {{{description}}} */{{/description}}
  {{{datatype}}} {{name}} = {{{defaultValue}}};
  {{#allowableValues}}{{#min}} // range from {{min}} to {{max}}{{/min}}//{{^min}}enum {{name}}Enum { {{#values}} {{.}}, {{/values}} };{{/min}}{{/allowableValues}}
  {{/vars}}
  {{classname}}();

  @override
  String toString() {
    return '{{classname}}[{{#vars}}{{name}}=${{name}}, {{/vars}}]';
  }

  {{classname}}.fromJson(Map<String, dynamic> json) {
    if (json == null) return;
  {{#vars}}
    {{name}} = {{#complexType}}new {{complexType}}.fromJson(json['{{name}}']){{/complexType}}{{^complexType}}json['{{name}}']{{/complexType}};
  {{/vars}}
  }

  Map<String, dynamic> toMap() {
    return {
      {{#vars}}
      '{{name}}': {{#complexType}}{{name}} == null ? null : {{name}}.toMap(){{/complexType}}{{^complexType}}{{name}}{{/complexType}}{{^-last}},{{/-last}}
      {{/vars}}
     };
  }
}
