{application, {{packageName}}, [
    {description, "Swagger rest server library"},
    {vsn, "{{apiVersion}}"},
    {registered, []},
    {applications, [
        kernel,
        stdlib,
        cowboy
    ]},
    {env, [
    ]},
    {modules, []},
    {licenses, []},
    {links, []}
]}.
