-module({{packageName}}_logic_handler).

-type context() :: #{binary() => any()}.

{{#authMethods}}
    {{#isApiKey}}
-callback authorize_api_key(ApiKey :: binary(), OperationID :: atom()) -> Result :: boolean() | {boolean(), context()}.
    {{/isApiKey}}
{{/authMethods}}


-callback handle_request(OperationID :: atom(), Request :: any(), Context :: context()) ->  {Status :: integer(), [Header :: binary()], Body :: any()}.
