-module({{packageName}}_logic_handler).

{{#hasAuthMethods}}
-type context() :: #{binary() => any()}.
{{/hasAuthMethods}}
{{#authMethods}}
    {{#isApiKey}}
-callback authorize_api_key(ApiKey :: binary(), OperationID :: atom()) -> Result :: boolean() | {boolean(), context()}.
    {{/isApiKey}}
{{/authMethods}}


-callback handle_request(OperationID :: atom(), Request :: any()) -> {ok, {[Header :: binary()], Result :: any()}} | {error, {Status :: integer(), [Header :: binary()], any()}}.
