-module({{packageName}}_router).

-export([get_paths/1]).
-export([get_operations/0]).
-export([get_operation_id/2]).

get_paths(LogicHandler) ->
    ValidatorState = prepare_validator(),
    Paths = lists:usort(maps:fold(
        fun(_, #{path := Path, handler := Handler}, Acc) ->
            [{Path, Handler} | Acc]
        end,
        [],
        get_operations()
    )),
    [
        {'_',
            [{P, H, [LogicHandler, ValidatorState]} || {P, H} <- Paths]
        }
    ].


get_operations() ->
    #{ {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
        '{{operationId}}' => #{
            path => "{{path}}",
            method => <<"{{httpMethod}}">>,
            handler => '{{classname}}'
        }{{#hasMore}},{{/hasMore}}{{/operation}}{{#hasMore}},{{/hasMore}}{{/operations}}{{/apis}}{{/apiInfo}}
    }.

get_operation_id(Method, Handler) ->
    get_operation_id(Method, Handler, get_operations()).

get_operation_id(Method, Handler, Operations) ->
    maps:fold(
        fun
            (OperationID, #{method := M, handler := H}, _) when H =:= Handler, M =:= Method ->
                OperationID;
            (_, _, Acc) ->
                Acc
        end,
        undefined,
        Operations
    ).

prepare_validator() ->
    R = jsx:decode(element(2, file:read_file(get_swagger_path()))),
    jesse_state:new(R, [{default_schema_ver, <<"http://json-schema.org/draft-04/schema#">>}]).


get_swagger_path() ->
    {ok, AppName} = application:get_application(?MODULE),
    filename:join({{packageName}}_utils:priv_dir(AppName), "swagger.json").


