-module({{packageName}}_server).


-define(DEFAULT_ACCEPTORS_POOLSIZE, 100).

-export([child_spec/2]).

child_spec(Id, #{
    ip            := Ip,
    port          := Port,
    net_opts      := NetOpts
}) ->
    AcceptorsPool = ?DEFAULT_ACCEPTORS_POOLSIZE,
    {Transport, TransportOpts} = get_socket_transport(Ip, Port, NetOpts),
    CowboyOpts = get_cowboy_config(),
    ranch:child_spec({?MODULE, Id}, AcceptorsPool,
        Transport, TransportOpts, cowboy_protocol, CowboyOpts).

get_socket_transport(Ip, Port, Options) ->
    Opts = [
        {ip,   Ip},
        {port, Port}
    ],
    case get_opt(ssl, Options) of
        SslOpts = [_|_] ->
            {ranch_ssl, Opts ++ SslOpts};
        undefined ->
            {ranch_tcp, Opts}
    end.

%%Deal with set handlers
get_cowboy_config() ->
    Paths = {{packageName}}_router:get_paths(),
    [{env, [{dispatch, cowboy_router:compile(Paths)}]}].


%% Movie it to the utils
get_opt(Key, Opts) ->
    get_opt(Key, Opts, undefined).

get_opt(Key, Opts, Default) when is_atom(Key) ->
    case lists:keyfind(Key, 1, Opts) of
        {_, Value} -> Value;
        false -> Default
    end.
