package {{package}};

{{#imports}}import {{import}};
{{/imports}}
{{#useBeanValidation}}
{{#jakarta}}
import jakarta.validation.constraints.*;
import jakarta.validation.Valid;
{{/jakarta}}
{{^jakarta}}
import javax.validation.constraints.*;
import javax.validation.Valid;
{{/jakarta}}

{{/useBeanValidation}}

{{#models}}
{{#model}}
{{#isEnum}}
{{>enumOuterClass}}
{{/isEnum}}
{{^isEnum}}
{{>pojo}}
{{/isEnum}}
{{/model}}
{{/models}}
