package {{package}};

{{#imports}}import {{import}};
{{/imports}}
import javax.validation.constraints.*;

{{#models}}
{{#model}}{{#description}}
/**
 * {{description}}
 **/{{/description}}
{{#isEnum}}{{>enumClass}}{{/isEnum}}
{{^isEnum}}{{>pojo}}{{/isEnum}}
{{/model}}
{{/models}}
