{{^useGenericWsResponse}}{{#returnContainer}}{{#isMapContainer}}Map<String, {{{returnType}}}>{{/isMapContainer}}{{#isListContainer}}List<{{{returnType}}}>{{/isListContainer}}{{/returnContainer}}{{^returnContainer}}{{{returnType}}}{{/returnContainer}}{{/useGenericWsResponse}}{{#useGenericWsResponse}}Response{{/useGenericWsResponse}}