*.iml
out/
*.ipr
*.iws
classpath.txt
version.properties
.project
.classpath
.factorypath
lib/*
build/*
generated-files/*
generated-code/*
*.swp
*.swo

/target
/generated-files
/nbactions.xml
*.pyc
__pycache__
samples/server-generator/scalatra/output
samples/server-generator/node/output/node_modules
samples/server-generator/scalatra/target
samples/server-generator/scalatra/output/.history

target
.idea
.lib
atlassian-ide-plugin.xml
.DS_Store
.metadata/
modules/swagger-codegen/.settings/
modules/swagger-codegen-cli/.settings/
modules/swagger-codegen-cli/gen/
modules/swagger-generator/.settings/
samples/client/petstore/android-java/.settings/
samples/client/petstore/java/.settings/
samples/client/petstore/objc/.settings/
samples/client/petstore/ruby/.settings/
samples/server/petstore/jaxrs/.settings/
samples/server/petstore/spring-mvc/.settings/
modules/swagger-generator/.factorypath
