<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <id>releases</id>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>${env.ARTIFACTORY_USER}</username>
      <password>${env.ARTIFACTORY_PASSWORD}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>chop-release</id>
          <name>libs-release</name>
          <url>${env.ARTIFACTORY_RELEASE_REPO}</url>
        </repository>
        <repository>
          <snapshots />
          <id>chop-snapshots</id>
          <name>libs-snapshot</name>
          <url>${env.ARTIFACTORY_SNAPSHOTS_REPO}</url>
        </repository>
      </repositories>
      <id>artifactory</id>
    </profile>
  </profiles>
</settings>
