{
  "swagger": "3.0.1",
  "info": {
    "title": "INTOUCH-API-V3-JSVT",
    "description": "One stop for all Target Loyalty,Authentication, Webhooks and Integrations Apis",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://intouch-api-v3-swagger.crm-nightly-new.cc.capillarytech.com",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "basicAuth": []
    },
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v3/webHooks/{webHookId}": {
      "put": {
        "tags": [
          "web-hook-controller"
        ],
        "operationId": "updateWebHook",
        "parameters": [
          {
            "name": "webHookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/WebHookEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapper"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "web-hook-controller"
        ],
        "operationId": "deleteWebHook",
        "parameters": [
          {
            "name": "webHookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapper"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/userLoyaltyTargets/{userLoyaltyTargetId}": {
      "put": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "updateUserLoyaltyTargets",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userLoyaltyTargetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserLoyaltyTargets"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperUserLoyaltyTargets"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/unifiedTargets": {
      "put": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "editUnifiedTargets",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnifiedTargetUpdateData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperUnifiedTargetUpdateData"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/targets/{targetId}": {
      "put": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "editTarget",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Targets"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTargets"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "deactivateTarget",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/targetPeriods": {
      "get": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "getTargetPeriods",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListTargetPeriods"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "editTargetPeriods",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TargetPeriods"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListTargetPeriods"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "createTargetPeriods",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TargetPeriods"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListTargetPeriods"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/editTargetGroup/{targetGroupId}": {
      "put": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "editTargetGroup",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetGroups"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTargetGroups"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/editTargetDates/{targetGroupId}": {
      "put": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "editTargetDates",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTargetGroups"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/integrations/clients/{clientKey}": {
      "get": {
        "tags": [
          "integrations-controller"
        ],
        "operationId": "getClient",
        "parameters": [
          {
            "name": "clientKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperIntegrationsClient"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "integrations-controller"
        ],
        "operationId": "updateClient",
        "parameters": [
          {
            "name": "clientKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationsClient"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperIntegrationsClient"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "integrations-controller"
        ],
        "operationId": "deleteClient",
        "parameters": [
          {
            "name": "clientKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperIntegrationsClient"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/webHooks": {
      "get": {
        "tags": [
          "web-hook-controller"
        ],
        "operationId": "getWebHooks",
        "parameters": [
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapper"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "web-hook-controller"
        ],
        "operationId": "addWebHook",
        "parameters": [
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/WebHookEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapper"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/users/updateTargetCompletedMessageStatus": {
      "post": {
        "tags": [
          "user-controller"
        ],
        "summary": "Update User Loyalty Target Completed Message Status",
        "operationId": "updateTargetCompletedMessageStatus",
        "parameters": [
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserTargetCompletionEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListUserLoyaltyTargets"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/users/replayEvents": {
      "post": {
        "tags": [
          "user-controller"
        ],
        "operationId": "replayEvents",
        "parameters": [
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplayEventsParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperReplayEventsParams"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups": {
      "get": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "getAllTargetGroups",
        "parameters": [
          {
            "name": "includeOnlyActive",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeUserCreatedTargetGroups",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeOnlyTargetGroupDetails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListTargetGroups"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "createTargetGroups",
        "parameters": [
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetGroups"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTargetGroups"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/userTargetEvents": {
      "post": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "createUserTargetEvents",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserTargetEvents"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListUserTargetEvents"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/userLoyaltyTargets": {
      "post": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "createUserLoyaltyTargets",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserLoyaltyTargets"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListUserLoyaltyTargets"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/targets": {
      "get": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "getTargets",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListTargets"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "createTargets",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Targets"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListTargets"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/targets/{targetId}/upload": {
      "post": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "uploadUserTargets",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserTargetUploadDetails"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListUserTargetUploadDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/targets/{targetId}/unEnroll": {
      "post": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "userUnEnrollApi",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UnEnrollViaApi"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperLong"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/targets/{targetId}/enroll": {
      "post": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "userEnrollApi",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EnrollViaApi"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperLong"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/targets/{targetId}/enrollViaAudience": {
      "post": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "enrollUsersViaAudienceFilter",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EnrollUsersViaAudienceDetails"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListEnrollUsersViaAudienceDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/targets/{targetId}/communications/upsert": {
      "post": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "upsertTargetCommunications",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TargetCommunications"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListTargetCommunications"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/returnBillTargetEvents": {
      "post": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "returnBillTargetEvents",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ReturnBillTargetEvents"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListReturnBillTargetEvents"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/isValidName": {
      "post": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "isValidName",
        "parameters": [
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/oauth/token/generate": {
      "post": {
        "tags": [
          "o-auth-controller"
        ],
        "operationId": "generateToken",
        "parameters": [
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTokenResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/internal/customers/bulk/get": {
      "post": {
        "tags": [
          "internal-customer-controller"
        ],
        "operationId": "getBulkUsers",
        "parameters": [
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListCustomer"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/integrations/clients": {
      "get": {
        "tags": [
          "integrations-controller"
        ],
        "operationId": "getClients",
        "parameters": [
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListIntegrationsClient"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "integrations-controller"
        ],
        "operationId": "createClient",
        "parameters": [
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationsClient"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperIntegrationsClient"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/webHooks/eventMetaData": {
      "get": {
        "tags": [
          "web-hook-controller"
        ],
        "operationId": "getEventMetadata",
        "parameters": [
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapper"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/webHooks/eventMetaData/{eventPath}/{eventName}": {
      "get": {
        "tags": [
          "web-hook-controller"
        ],
        "operationId": "getSubEventMetadata",
        "parameters": [
          {
            "name": "eventPath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapper"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/webHooks/eventMetaData/{eventName}": {
      "get": {
        "tags": [
          "web-hook-controller"
        ],
        "operationId": "getEventMetadata_1",
        "parameters": [
          {
            "name": "eventName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapper"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/webHooks/eventLog/{eventId}": {
      "get": {
        "tags": [
          "web-hook-controller"
        ],
        "operationId": "getEventLog",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapper"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/webHooks/eventLog/requestId/{requestId}": {
      "get": {
        "tags": [
          "web-hook-controller"
        ],
        "operationId": "getEventLogByRequestId",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapper"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/webHooks/eventLog/refId/{refId}": {
      "get": {
        "tags": [
          "web-hook-controller"
        ],
        "operationId": "getEventLogByRefId",
        "parameters": [
          {
            "name": "refId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapper"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/webHooks/eventLog/refId/{refId}/requestId/{requestId}": {
      "get": {
        "tags": [
          "web-hook-controller"
        ],
        "operationId": "getEventLogByRefId_1",
        "parameters": [
          {
            "name": "refId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapper"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/verticals/{name}": {
      "get": {
        "tags": [
          "org-vertical-controller"
        ],
        "operationId": "getOrgsMappedToVertical",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/users/{userId}/targetGroups": {
      "get": {
        "tags": [
          "user-controller"
        ],
        "summary": "Get current target and streaks status for passed user for current evaluation period",
        "operationId": "getUserTargets",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeInactiveTargets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "targetRuleId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "trackingDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "excludedEntities",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "includeOnlyEnrolled",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperUserTargetStatus"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/users/{userId}/enrolledTargets": {
      "get": {
        "tags": [
          "user-controller"
        ],
        "operationId": "getEnrolledUserTargets",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "targetRuleIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enrollmentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackingDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "includeOnlyUserCreated",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListTargets"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/users/{targetRuleId}/getUserTargetValueForEntityIds/{userId}": {
      "get": {
        "tags": [
          "user-controller"
        ],
        "operationId": "getUserTargetValueForEntityIds",
        "parameters": [
          {
            "name": "targetRuleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "entityIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "billDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListUserTargetEvents"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/users/triggerTargetCommunications": {
      "get": {
        "tags": [
          "user-controller"
        ],
        "summary": "Triggers target communications",
        "operationId": "triggerTargetCommunications",
        "parameters": [
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTargetCommBulkIngestDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/users/targetCompletionStatus": {
      "get": {
        "tags": [
          "user-controller"
        ],
        "summary": "Get target completion status for all users for last evaluation period",
        "operationId": "getUserTargetsForOrg",
        "parameters": [
          {
            "name": "onlyUnpublished",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            }
          },
          {
            "name": "targetEvaluationType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "FIXED_CALENDAR_WINDOW",
                "CYCLIC_WINDOW",
                "PERIOD_AGNOSTIC_WINDOW",
                "CALENDAR_CYCLIC_WINDOW"
              ]
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperListUserTargetStatus"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/users/targetCompleted/{targetAchievedEventLogId}": {
      "get": {
        "tags": [
          "user-controller"
        ],
        "operationId": "getTargetCompletedDetails",
        "parameters": [
          {
            "name": "targetAchievedEventLogId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTargetCompletedDetailsDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}": {
      "get": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "getTargetGroups",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "includePeriods",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperTargetGroups"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "deactivateTargetGroups",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWrapperBoolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/targets/{targetId}/getUploadedFiles": {
      "get": {
        "tags": [
          "target-group-controller"
        ],
        "summary": "Get target upload file details, by default all status files will be fetched",
        "operationId": "getUploadFileDetails",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "targetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "uploadFileHandle",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "X-CAP-API-AUTH-KEY",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-KEY",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-AUTH-ORG-ID",
            "in": "header",
            "description": "Header for X-CAP-API-AUTH-ORG-ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CAP-API-OAUTH-TOKEN",
            "in": "header",
            "description": "Header for X-CAP-API-OAUTH-TOKEN",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseListUserTargetUploadFileDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          },
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v3/targetGroups/{targetGroupId}/targets/{targetId}/communications": {
      "get": {
        "tags": [
          "target-group-controller"
        ],
        "operationId": "getTargetCommunicationTemplate",
        "parameters": [
          {
            "name": "targetGroupId",
            "in": "path",
            "required": true,
            "schema": {
[...]
