Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio 15
VisualStudioVersion = 15.0.26403.7
MinimumVisualStudioVersion = 10.0.40219.1
Project("{2150E333-8FDC-42A3-9474-1A3956D46DE8}") = "Solution Items", "Solution Items", "{AFF6BF88-8A7D-4736-AF81-31BCE86B19BD}"
	ProjectSection(SolutionItems) = preProject
		build.bat = build.bat
		README.md = README.md
		build.sh = build.sh
	EndProjectSection
EndProject
Project("{9A19103F-16F7-4668-BE54-9A1E7A4F7556}") =  "{{packageName}}", "{{packageName}}\{{packageName}}.csproj", "{D84B699B-D26C-4D41-A5EB-B300AA3EF174}"
EndProject
Project("{E53339B2-1760-4266-BCC7-CA923CBCF16C}") = "docker-compose", "docker-compose.dcproj", "{39D97B33-3100-4D59-ACE6-4F1C8E683AC2}"
EndProject
Project("{2150E333-8FDC-42A3-9474-1A3956D46DE8}") = "OPS", "OPS", "{CC7DE491-E7B1-4880-802E-685D49558C89}"
	ProjectSection(SolutionItems) = preProject
		OPS.md = OPS.md
	EndProjectSection
EndProject
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Release|Any CPU = Release|Any CPU
		Staging|Any CPU = Staging|Any CPU
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
		{D84B699B-D26C-4D41-A5EB-B300AA3EF174}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{D84B699B-D26C-4D41-A5EB-B300AA3EF174}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{D84B699B-D26C-4D41-A5EB-B300AA3EF174}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{D84B699B-D26C-4D41-A5EB-B300AA3EF174}.Release|Any CPU.Build.0 = Release|Any CPU
		{D84B699B-D26C-4D41-A5EB-B300AA3EF174}.Staging|Any CPU.ActiveCfg = Release|Any CPU
		{D84B699B-D26C-4D41-A5EB-B300AA3EF174}.Staging|Any CPU.Build.0 = Release|Any CPU
		{39D97B33-3100-4D59-ACE6-4F1C8E683AC2}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{39D97B33-3100-4D59-ACE6-4F1C8E683AC2}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{39D97B33-3100-4D59-ACE6-4F1C8E683AC2}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{39D97B33-3100-4D59-ACE6-4F1C8E683AC2}.Release|Any CPU.Build.0 = Release|Any CPU
		{39D97B33-3100-4D59-ACE6-4F1C8E683AC2}.Staging|Any CPU.ActiveCfg = Release|Any CPU
		{39D97B33-3100-4D59-ACE6-4F1C8E683AC2}.Staging|Any CPU.Build.0 = Release|Any CPU
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
EndGlobal
