<?xml version="1.0"?>
<package >
  <metadata>
  <id>{{packageName}}</id>
  <version>{{packageVersion}}</version>
  <authors>Four51</authors>
  <owners>Four51</owners>
  <licenseUrl>https://opensource.org/licenses/MIT</licenseUrl>
  <projectUrl>http://github.com/ordercloud-api/cshark-sdk</projectUrl>
  <iconUrl>http://ordercloud.wpengine.com/wp-content/uploads/2016/08/OC-flat-drop-1-150x150.png</iconUrl>
  <requireLicenseAcceptance>false</requireLicenseAcceptance>
  <description>{{appDescription}}</description>
  <copyright>Copyright 2016</copyright>
  <tags>ordercloud, four51, cloud, ecommerce, b2b, conversational, commerce, orders, management, complex, api, platform </tags>
  <dependencies>
    <dependency id="RestSharp" version="105.1.0" />
    <dependency id="NewtonSoft.Json" version="9.0.1" />
    <dependency id="Flurl.Http" version="1.0.3" />
  </dependencies>
  </metadata>
</package>
