{{>licenseInfo}}
import { LogManager }
  from 'aurelia-framework';

import { HttpClient, HttpResponseMessage, RequestBuilder }
  from 'aurelia-http-client';

import { Logger }
  from 'aurelia-logging';

import { Router }
  from 'aurelia-router';

import { TokenService }
  from '../services';

const BASE_PATH = '{{{basePath}}}'.replace(/\/+$/, '');

/**
 * Class to handle http requests
 */
export class HttpService {

  private logger: Logger;
  private router: Router;
  private static client: HttpClient;

  constructor(router: Router) {
    this.logger = LogManager.getLogger(this.constructor.name);
    this.router = router;
  }

  /**
   * Creates request.
   */
  public createRequest(url: string): RequestBuilder {
    return HttpService.getClient().createRequest(url);
  }

  /**
   * Returns HTTP client.
   */
  public static getClient(): HttpClient {
    if (!this.client) {
      this.client = new HttpClient();
      this.client.configure((builder) => {
        builder
          .withBaseUrl(BASE_PATH)
          .withInterceptor({
            response(message: HttpResponseMessage): HttpResponseMessage {
              const { headers } = message;

              const csrfToken = headers.get('XSRF-TOKEN');
              csrfToken && TokenService.setCsrfToken(csrfToken);

              return message;
            },
          })
        ;
      });
    }

    return this.client;
  }

  /**
   * Adds the authorization header to the request.
   */
  public async addAuthHeader(name: string, req: RequestBuilder): Promise<RequestBuilder> {
    if (!TokenService.getUserToken()) {
      try {
        this.logger.info('Reload user token.');
        await TokenService.reloadUserToken();
        this.logger.info('Reloaded user token.');
      } catch (e) {
        this.logger.error('Reloading user token failed.', e);
        this.router.navigateToRoute('login');
        throw e;
      }
    }

    return req.withHeader(name, `Bearer ${TokenService.getUserToken()}`);
  }

  /**
   * Adds the authorization param to the request.
   */
  public async addAuthParam(name: string, req: RequestBuilder): Promise<RequestBuilder> {
    if (!TokenService.getUserToken()) {
      try {
        this.logger.info('Reload user token.');
        await TokenService.reloadUserToken();
        this.logger.info('Reloaded user token.');
      } catch (e) {
        this.logger.error('Reloading user token failed.', e);

        if (e.statusCode > 399) {
            this.router.navigateToRoute('login');
        }

        throw e;
      }
    }

    const params = {};
    params[name] = TokenService.getUserToken();

    return req.withParams(params);
  }

  /**
   * Adds CSRF token to the request.
   */
  public async addCsrfHeader(req: RequestBuilder): Promise<RequestBuilder> {
    if (!TokenService.getCsrfToken()) {
      try {
        this.logger.info('Reload CSRF token.');
        await TokenService.reloadCsrfToken();
        this.logger.info('Reloaded CSRF token.');
      } catch (e) {
        this.logger.error('Reloading CSRF token failed.', e);
        throw e;
      }
    }

    const csrfToken = TokenService.getCsrfToken();
    TokenService.clearCsrfToken();

    return req.withHeader('XSRF-TOKEN', csrfToken);
  }

}
