{{>licenseInfo}}
#ifndef {{prefix}}_QOBJECT_WRAPPER_H
#define {{prefix}}_QOBJECT_WRAPPER_H

#include <QObject>

{{#cppNamespaceDeclarations}}
namespace {{this}} {
{{/cppNamespaceDeclarations}}

    template <typename ObjectT>
    class {{prefix}}QObjectWrapper : public QObject {
        public:
            {{prefix}}QObjectWrapper(ObjectT t){
                data = t;
            }
            ~{{prefix}}QObjectWrapper(){

            }
        private :
            ObjectT data;
    };
    template <typename ObjectT>
    class {{prefix}}QObjectWrapper<ObjectT*> : public QObject {
        public:
            {{prefix}}QObjectWrapper(ObjectT* t){
                data = t;
            }
            ~{{prefix}}QObjectWrapper(){
                delete data;
            }
        private :
            ObjectT* data;
    };

{{#cppNamespaceDeclarations}}
}
{{/cppNamespaceDeclarations}}

#endif // {{prefix}}_QOBJECT_WRAPPER_H