import { {{#useOpaqueToken}}OpaqueToken{{/useOpaqueToken}}{{^useOpaqueToken}}InjectionToken{{/useOpaqueToken}} } from '@angular/core';

export const BASE_PATH = new {{#useOpaqueToken}}OpaqueToken{{/useOpaqueToken}}{{^useOpaqueToken}}InjectionToken<string>{{/useOpaqueToken}}('basePath');
export const COLLECTION_FORMATS = {
    'csv': ',',
    'tsv': '   ',
    'ssv': ' ',
    'pipes': '|'
}