{{#operations}}
{{#operation}}
function {{{classname}}}-{{{operationId}}} {
    [CmdletBinding()]
    Param (
    {{#allParams}}
        [Parameter(Position = {{@index}}, ValueFromPipeline = $true, ValueFromPipelineByPropertyName = $true, Mandatory = {{#required}}$true{{/required}}{{^required}}$false{{/required}})]
        [{{{packageName}}}.Model.Pet]
        {{=<% %>=}}
        ${<%paramName%>}
        <%={{ }}=%>
    {{/allParams}}
    )

    Process {
        'Calling method: {{{classname}}}-{{{operationId}}}' | Write-Verbose
        $PSBoundParameters | Out-DebugParameter | Write-Debug

        $Script:{{{classname}}}.{{{operationId}}}(
        {{#allParams}}
            {{=<% %>=}}
            ${<%paramName%>}<%^-last%>,<%/-last%>
            <%={{ }}=%>
        {{/allParams}}
        )
    }
}

{{/operation}}
{{/operations}}
