package {{package}} {

{{#imports}}import {{import}};
{{/imports}}

{{#models}}
{{#model}}
    public class {{classname}} {
    {{#vars}}

    {{#notes}}/* {{notes}} */
    {{/notes}}
    {{#description}}/* {{description}} */
    {{/description}}
        public var {{name}}: {{{datatype}}} = {{{defaultValue}}};
    {{/vars}}


}
{{/model}}
        {{/models}}

}
