export type {{className}} = {{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}} | {{/-last}}{{/enumVars}}{{/allowableValues}};

export const {{className}} = {
{{#allowableValues}}
{{#enumVars}}
    {{name}}: {{{value}}} as {{className}}{{^-last}},{{/-last}}
{{/enumVars}}
{{/allowableValues}}
}