import { FormBuilder, FormGroup } from '@angular/forms';
import {
    adjustDefaultControls,
    getControl,
    prepareFormGroup,
    ApaleoEnumPropertyMetaData,
    ApaleoPropertyMetaData,
    BuildFormOptions,
    BuildFormAdditionalControlsBase
} from '@apaleo/angular-api-proxy-common';

export interface {{classname}} {{#parent}}extends {{{parent}}} {{/parent}}{ {{>modelGenericAdditionalProperties}}
{{#vars}}
    {{#description}}
    /**
     * {{{description}}}
     */
    {{/description}}
    {{#isReadOnly}}readonly {{/isReadOnly}}{{name}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}};
{{/vars}}
}{{>modelGenericEnums}}

export namespace {{classname}} {
    export const $metaData = { {{#vars}}
        {{name}}: Object.freeze({ {{#required}}
            isRequired: true,{{/required}}{{#minLength}}
            minLength: {{minLength}},{{/minLength}}{{#maxLength}}
            maxLength: {{maxLength}},{{/maxLength}}
            type: '{{{datatype}}}',{{#isEnum}}{{^isListContainer}}
            isEnum: true,
            allowedEnumValues: {{enumName}}Values,{{/isListContainer}}{{/isEnum}}{{#isPrimitiveType}}
            isPrimitiveType: true,{{/isPrimitiveType}}{{#isListContainer}}
            isListContainer: true,{{/isListContainer}}{{#isMapContainer}}
            isMapContainer: true,{{/isMapContainer}}
        } as {{^isEnum}}ApaleoPropertyMetaData{{/isEnum}}{{#isEnum}}{{^isListContainer}}ApaleoEnumPropertyMetaData<{{enumName}}>{{/isListContainer}}{{#isListContainer}}ApaleoPropertyMetaData{{/isListContainer}}{{/isEnum}}),{{/vars}}
    };

    export function $buildForm<TAdditionalControls extends BuildFormAdditionalControlsBase = {}>(fb: FormBuilder, options?: BuildFormOptions<{{classname}}, TAdditionalControls>): FormGroup {
        const defaultControls = { {{#vars}}{{^isListContainer}}{{^isMapContainer}}
            {{name}}: {{#isPrimitiveType}}getControl($metaData.{{name}}, options, '{{name}}'){{/isPrimitiveType}}{{^isPrimitiveType}}{{datatype}}.$buildForm(fb){{/isPrimitiveType}},{{/isMapContainer}}{{/isListContainer}}{{/vars}}
        };
        const group = fb.group(adjustDefaultControls(defaultControls, options));
        prepareFormGroup(group, $metaData, options);

        return group;
    }
}
