{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "swagger client for {{{npmName}}}",
  "author": "Swagger Codegen Contributors",
  "keywords": [
    "swagger-client"
  ],
  "license": "Unlicense",
  {{#useNgPackagr}}
  "scripts": {
    "build": "ng-packagr -p ng-package.json"
  },
  {{/useNgPackagr}}
  {{^useNgPackagr}}
  "main": "dist/index.js",
  "module": "dist/index.js",  
  "typings": "dist/index.d.ts",
  "scripts": {
    "build": "ngc",
    "postinstall": "npm run build"
  },
  {{/useNgPackagr}}
  "devDependencies": {
    "@angular/compiler-cli": "^{{ngVersion}}",
    "@angular/core": "^{{ngVersion}}",
    {{^skipHttpImport}}
    "@angular/http": "^{{ngVersion}}",
    {{/skipHttpImport}}
    "@angular/common": "^{{ngVersion}}",
    "@angular/compiler": "^{{ngVersion}}",
    "@angular/platform-browser": "^{{ngVersion}}",
    "ng-packagr": "^{{ngPackagrVersion}}",
    "reflect-metadata": "^0.1.3",
    "rxjs": "^{{rxjsVersion}}",
    "zone.js": "^{{zonejsVersion}}",
    "typescript": "^{{{tsVersion}}}"
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig": {
    "registry": "{{{npmRepository}}}"
  }
{{/npmRepository}}
}
