{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "AngularJS based TypeScript source client for {{npmName}}",
  "author": "Swagger Codegen Contributors",
  "keywords": [
    "swagger-client",
    "typescript"
  ],
  "license": "Unlicense",
  "main": "index.ts",
  "typings": "index.ts",
  "scripts": {
    "build": "typings install && tsc --outDir dist/",
    "postinstall": "npm run build"
  },
  "dependencies": {
    {{^supportsES6}}"core-js": "^2.4.0"
    {{/supportsES6}}
  },
  "peerDependencies": {
      "angular": "^1.4.3"
  },
  "devDependencies": {
    "typescript": "^1.8.10",
    "typings": "^1.3.2",
    "angular": "^1.4.3"
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig":{
    "registry":"{{npmRepository}}"
  }
{{/npmRepository}}
}
