{
    "compilerOptions": {
        "noImplicitAny": false,
        "suppressImplicitAnyIndexErrors": true,
        "target": "{{#supportsES6}}ES6{{/supportsES6}}{{^supportsES6}}ES5{{/supportsES6}}",
        "module": "commonjs",
        "moduleResolution": "node",
        "sourceMap": true,
        "outDir": "./dist",
        "declaration": false
    },
    "typeRoots": [
        "./typings"
    ],
    "exclude": [
        "node_modules",
        "dist"
    ]
}
