{
  "globalDependencies": {
    "angular": "github:DefinitelyTyped/DefinitelyTyped/angularjs/angular.d.ts#dc77ccd8e17758d68393c67dcbf50cca35a124b7",
    "core-js": "registry:dt/core-js#0.9.7+20161130133742",
  }
}
