#import "JSONValueTransformer+ISO8601.h"
#import "{{classPrefix}}DefaultConfiguration.h"

@implementation JSONValueTransformer (ISO8601)

- (NSDate *) NSDateFromNSString:(NSString *)string
{
    return [[{{classPrefix}}DefaultConfiguration sharedConfig].dateFormatter dateFromString:string];
}

- (NSString *) JSONObjectFromNSDate:(NSDate *)date
{
    return [[{{classPrefix}}DefaultConfiguration sharedConfig].dateFormatter stringFromDate:date];
}

@end
