{{#models}}
{{#model}}
#import "{{classname}}.h"

@implementation {{classname}}
{{#vars}}
    
+ (JSONKeyMapper *)keyMapper
{
    return [[JSONKeyMapper alloc] initWithDictionary:@{@"{{baseName}}": @"{{name}}"}];    
}
    
{{/vars}}
{{/model}}
@end
{{/models}}
