{{! NOTE: unlike parameters and properties there is no way to switch on operation response data type, so use null here:
}}{{#returnTypeIsPrimitive}}null{{/returnTypeIsPrimitive}}{{!
}}{{^returnTypeIsPrimitive}};{{>api-test-response-complex}}{{/returnTypeIsPrimitive}}{{!
}}