{{#vendorExtensions.x-codegen-model}}
  {{#allVars}}
    {{#vendorExtensions.x-cache-current-context}}
{{>api-test-response-property}}{{!
    }}{{/vendorExtensions.x-cache-current-context}}{{!
  }}{{/allVars}}{{!
}}{{/vendorExtensions.x-codegen-model}}