@Entity()
enum {{classname}} {
  {{#allowableValues}}{{#enumVars}}{{name}}{{^-last}},{{/-last}}
  {{/enumVars}}{{/allowableValues}}
}

class {{classname}}TypeTransformer extends TypeTransformer<{{classname}}> {

  @override
  dynamic encode({{classname}} data) {
    switch(data) {
      {{#allowableValues}}{{#enumVars}}case {{classname}}.{{name}}: return {{value}};
      {{/enumVars}}{{/allowableValues}}
      default: throw('Unknown enum value to encode: $data');
    }
  }

  @override
  {{classname}} decode(dynamic data) {
    switch (data) {
      {{#allowableValues}}{{#enumVars}}case {{value}}: return {{classname}}.{{name}};
      {{/enumVars}}{{/allowableValues}}
      default: throw('Unknown enum value to decode: $data');
    }
  }
}
