{{>licenseInfo}}
package {{package}}

import {{invokerPackage}}.ApiModel
import org.joda.time.DateTime
import java.util.UUID
{{#models}}
{{#model}}
{{#hasEnums}}
import {{classname}}Enums._
{{/hasEnums}}
{{/model}}
{{/models}}

{{#models}}
{{#model}}
case class {{classname}} (
  {{#vars}}
  {{#description}}
  /* {{{description}}} */
  {{/description}}
  {{name}}: {{^required}}Option[{{/required}}{{^isEnum}}{{datatype}}{{/isEnum}}{{#isEnum}}{{datatypeWithEnum}}{{/isEnum}}{{^required}}]{{/required}}{{#hasMore}},{{/hasMore}}
  {{/vars}}
) extends ApiModel

{{#hasEnums}}
object {{classname}}Enums {

  {{#vars}}
  {{#isEnum}}
  {{#isContainer}}
  type {{innerType}} = {{innerType}}.Value
  {{/isContainer}}
  {{^isContainer}}
  type {{datatypeWithEnum}} = {{datatypeWithEnum}}.Value
  {{/isContainer}}
  {{/isEnum}}
  {{/vars}}
  {{#vars}}
  {{#isEnum}}
  object {{#isContainer}}{{innerType}}{{/isContainer}}{{^isContainer}}{{datatypeWithEnum}}{{/isContainer}} extends Enumeration {
    {{#_enum}}
    val {{#fnEnumEntry}}{{.}}{{/fnEnumEntry}} = Value("{{.}}")
    {{/_enum}}
    {{#items}}
    {{#_enum}}
    val {{#fnEnumEntry}}{{.}}{{/fnEnumEntry}} = Value("{{.}}")
    {{/_enum}}
    {{/items}}
  }

  {{/isEnum}}
  {{/vars}}
}
{{/hasEnums}}
{{/model}}
{{/models}}

