{{>partial_header}}
package {{packageName}}

import (
	"golang.org/x/oauth2"
)


type contextOAuth2Key *oauth2.Token

var ContextOAuth2 contextOAuth2Key

type BasicAuth struct {
	UserName      string            `json:"userName,omitempty"`
	Password      string            `json:"password,omitempty"`	
}
type contextBasicAuthKey *BasicAuth

var ContextBasicAuth contextBasicAuthKey

/*
	APIKeyPrefix  map[string]string `json:"APIKeyPrefix,omitempty"`
	APIKey        map[string]string `json:"APIKey,omitempty"`
*/