group '{{groupId}}'
version '{{artifactVersion}}'

wrapper {
    gradleVersion = '7.5'
    distributionUrl = "https://services.gradle.org/distributions/gradle-$gradleVersion-all.zip"
}

buildscript {
    ext.kotlin_version = '1.8.0'

    repositories {
        maven { url "https://repo1.maven.org/maven2" }
    }
    dependencies {
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"
    }
}

apply plugin: 'kotlin'

repositories {
    maven { url "https://repo1.maven.org/maven2" }
}

dependencies {
    implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk8:$kotlin_version"
    implementation "org.jetbrains.kotlin:kotlin-reflect:$kotlin_version"
    implementation "com.squareup.moshi:moshi-kotlin:1.11.0"
    implementation "com.squareup.moshi:moshi-adapters:1.11.0"
    implementation "com.squareup.okhttp3:okhttp:4.9.0"
    testImplementation "io.kotlintest:kotlintest:2.0.7"
}