{{#description}}
    /* {{{description}}} */
{{/description}}
    {{#native}}@SerialName(value = "{{name}}") @Required {{/native}}val {{{vendorExtensions.x-escapedName}}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}