{{#description}}
    /* {{{description}}} */
{{/description}}
    {{#gson}}@SerializedName("{{name}}"){{/gson}}
    val {{{name}}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}