{{#description}}
    /* {{{description}}} */
{{/description}}
    {{#native}}@SerialName(value = "{{name}}") {{/native}}val {{{vendorExtensions.x-escapedName}}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}? = {{#defaultvalue}}{{defaultvalue}}{{/defaultvalue}}{{^defaultvalue}}null{{/defaultvalue}}