{{>licenseInfo}}
package {{apiPackage}}

import io.ktor.application.call
import io.ktor.auth.authentication
import io.ktor.http.HttpStatusCode
import io.ktor.locations.location
import io.ktor.response.respond
import io.ktor.routing.Route
import io.ktor.routing.delete as DELETE
import io.ktor.routing.get as GET
import io.ktor.routing.head as HEAD
import io.ktor.routing.options as OPTIONS
import io.ktor.routing.patch as PATCH
import io.ktor.routing.post as POST
import io.ktor.routing.put as PUT

import {{packageName}}.Paths

{{#imports}}import {{import}}
{{/imports}}

{{#operations}}
fun Route.{{classname}}() {
{{#operation}}
    location<Paths.{{operationId}}> {
        {{! This format allows us to support authentication strategies }}
        {{httpMethod}} {
            call.respond(HttpStatusCode.NotImplemented)
        }
    }
{{/operation}}
}
{{/operations}}