{{>licenseInfo}}
package {{apiPackage}}

import io.ktor.http.*
import io.ktor.response.*
import io.ktor.locations.get as GET
import io.ktor.routing.Route
import io.ktor.application.call
import io.ktor.locations.post as POST
import io.ktor.locations.head as HEAD
import io.ktor.locations.put as PUT
import io.ktor.locations.patch as PATCH
import io.ktor.locations.options as OPTIONS

// NOTE: ktor-location@0.9.0 is missing extension for Route.delete. This includes it.
import {{packageName}}.delete as DELETE
import {{packageName}}.Paths

{{#imports}}import {{import}}
{{/imports}}

{{#operations}}
fun Route.{{classname}}() {
{{#operation}}
    {{httpMethod}}<Paths.{{operationId}}> {
        call.respond(HttpStatusCode.NotImplemented)
    }
{{/operation}}
}
{{/operations}}