{
  "name": "ordercloud-javascript-sdk",
  "version": "{{{projectVersion}}}",
  "description": "{{{projectDescription}}}",
  "main": "dist/ordercloud-javascript-sdk.js",
  "authors": [
    "Four51 Inc. <ordercloud@four51.com>"
  ],
  "license": "MIT",
  "keywords": [
    "API",
    "OrderCloud",
    "Four51",
    "E-Commerce"
  ],
  "homepage": "https://github.com/cobrien451/OrderCloud-JavaScript-SDK",
  "ignore": [
    "**/.*",
    "node_modules",
    "bower_components",
    "test",
    "tests"
  ]
}