{
  "name": "crunchbase-api",
  "version": "{{{projectVersion}}}",
  "description": "Javascript client for the Crunchbase API.",
  "license": "{{{projectLicenseName}}}",
  "main": "index.js",
  "author": "sherwood@crunchbase.com",
  "scripts": {
    "build": "./node_modules/rollup/bin/rollup -c"
  },
  "dependencies": {
    "request": "2.81.0",
    "tough-cookie": "2.3.2",
    "request-promise": "4.2.1",
    "rollup": "0.47.6",
    "rollup-plugin-node-resolve": "3.0.0"
  }
}
