{
  "name": "crunchbase-api",
  "version": "{{{projectVersion}}}",
  "description": "Javascript client for the Crunchbase API.",
  "license": "{{{projectLicenseName}}}",
  "main": "{{sourceFolder}}/index.js",
  "author": "sherwood@crunchbase.com",
  "dependencies": {
    "node-fetch": "1.7.2"
  }
}
