{
  "name": "crunchbase-api",
  "version": "{{{projectVersion}}}",
  "description": "Javascript client for the Crunchbase API.",
  "license": "{{{projectLicenseName}}}",
  "main": "api.js",
  "author": "sherwood@crunchbase.com",
  "dependencies": {
    "request": "2.81.0",
    "tough-cookie": "2.3.2",
    "request-promise": "4.2.1"
  }
}
