'use strict';

{{#operations}}
{{#operation}}

/**
 {{#summary}}
 * {{{summary}}}
 {{/summary}}
 {{#notes}}
 * {{{notes}}}
 {{/notes}}
 *
{{#allParams}}
 * params["{{paramName}}"] {{{dataType}}} {{{description}}}{{^required}} (optional){{/required}}
{{/allParams}}
{{^returnType}}
 * no response value expected for this operation
{{/returnType}}
{{#returnType}}
 * returns {{{returnType}}}
{{/returnType}}
 **/
exports.{{{operationId}}} = function(params) {
  return new Promise(function(resolve, reject) {
  {{#returnType}}
    var examples = {};
    {{#examples}}
    examples['{{contentType}}'] = {{{example}}};
    {{/examples}}
    if (Object.keys(examples).length > 0) {
      resolve(examples[Object.keys(examples)[0]]);
    } else {
      resolve();
    }
    {{/returnType}}
    {{^returnType}}
    resolve();
    {{/returnType}}
  });
}

{{/operation}}
{{/operations}}
