<html>

<head>

</head>

<body>

{{#operations}}
    {{#operation}}

        <div class="method"><a name="{{nickname}}"/>

            <div class="method-path">
                <a class="up" href="#__Methods">Up</a>
                <pre class="{{httpMethod}}"><code class="huge"><span class="http-method">{{httpMethod}}</span> {{path}}
                </code></pre>
            </div>
            <div class="method-summary">{{summary}} (<span class="nickname">{{nickname}}</span>)</div>
            {{! notes is operation.description. So why rename it and make it super confusing???? }}
            <div class="method-notes">{{notes}}</div>

            {{#hasPathParams}}
                <h3 class="field-label">Path parameters</h3>


                <!-- field-items -->
            {{/hasPathParams}}

            {{#hasConsumes}}
                <h3 class="field-label">Consumes</h3>
                This API call consumes the following media types via the <span class="heaader">Content-Type</span>
                request header:
                <ul>
                    {{#consumes}}
                        <li><code>{{mediaType}}</code></li>
                    {{/consumes}}
                </ul>
            {{/hasConsumes}}

            {{#hasBodyParam}}
                <h3 class="field-label">Request body</h3>


                <!-- field-items -->
            {{/hasBodyParam}}

            {{#hasHeaderParam}}
                <h3 class="field-label">Request headers</h3>


                <!-- field-items -->
            {{/hasHeaderParam}}

            {{#hasQueryParams}}
                <h3 class="field-label">Query parameters</h3>


                <!-- field-items -->
            {{/hasQueryParams}}

            <!-- Remove Return type... unclear where this comes from;
         for our swagger.json files, it is always empty and there is no boolean guard or hasReturnType
         do we end up with a heading but not content

    {{#returnType}}
    <h3 class="field-label">Return type</h3>
    <div class="return-type"><a href="#{{returnContainer}}">{{{returnType}}}</a></div>
    {{/returnType}}

    Todo: process Response Object and its headers, schema, examples
    -->

            {{#hasExamples}}
                {{#examples}}
                    <h3 class="field-label">Example data</h3>

                    <div class="example-data-content-type">Content-Type: {{{contentType}}}</div>
                    <pre class="example"><code>{{{example}}}</code></pre>
                {{/examples}}
            {{/hasExamples}}

            {{#hasProduces}}
                <h3 class="field-label">Produces</h3>
                This API call produces the following media types according to the <span class="header">Accept</span>
                request header;
                the media type will be conveyed by the <span class="heaader">Content-Type</span> response header.
                <ul>
                    {{#produces}}
                        <li><code>{{mediaType}}</code></li>
                    {{/produces}}
                </ul>
            {{/hasProduces}}

            <h3 class="field-label">Responses</h3>
            {{#responses}}
                <h4 class="field-label">{{code}}</h4>
                {{message}}
                {{#examples}}
                    <h3 class="field-label">Example data</h3>

                    <div class="example-data-content-type">Content-Type: {{{contentType}}}</div>
                    <pre class="example"><code>{{example}}</code></pre>
                {{/examples}}
            {{/responses}}
        </div>
        <!-- method -->
        <hr/>

    {{/operation}}
{{/operations}}

</body>
</html>