<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{appName}} - Docs</title>

    <!-- highlight.js -->
    <link rel="stylesheet" href="app.css" />
  </head>

  <body>
    {{>core}}

    <!-- All content is rendered via index.mustache -->
    <script src="jquery.min.js"></script>
    <script src="highlight.min.js"></script>
  </body>

  </html>
