<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{appName}} - Docs</title>

    <link rel="stylesheet" href="highlight.css" />
    <link rel="stylesheet" href="app.css" />
  </head>

  <body>
    {{>core}}

    <!-- All content is rendered via index.mustache -->
    <script src="assets/jquery.min.js" type='text/javascript'></script>
    <script src="assets/highlight.min.js" type='text/javascript'></script>
    <script type='text/javascript'>
      $(document.body).promise().done(app_setup);
    </script>
  </body>

  </html>
