<header id="intro" class="api-section">
  <section class="api-section-left">
  {{{appDescription}}}

  <br>

  {{#infoEmail}}
    <br>
    Email: <a href="mailto:{{infoEmail}}">{{infoEmail}}</a>
  {{/infoEmail}}
  {{#infoUrl}}
    <br>
    More Info: <a href="{{infoUrl}}">{{infoUrl}}</a>
  {{/infoUrl}}
  {{#licenseInfo}}
    <br>
    License: <a href="{{licenseUrl}}"> {{licenseInfo}} </a>
  {{/licenseInfo}}

  </section>

</header>
