{{#isQueryParam}}{{#useBeanValidation}}{{>beanValidationQueryParams}}{{/useBeanValidation}}{{#defaultValue}} @DefaultValue("{{{defaultValue}}}"){{/defaultValue}} @QueryParam("{{baseName}}") {{#useBeanValidation}}@Valid{{/useBeanValidation}} {{{dataType}}} {{paramName}}{{/isQueryParam}}