{{#isFormParam}}{{#notFile}}@FormParam(value = "{{paramName}}")  {{{dataType}}} {{paramName}}{{/notFile}}{{#isFile}} @FormParam(value = "{{paramName}}") InputStream {{paramName}}InputStream
 {{/isFile}}{{/isFormParam}}