{{#isFormParam}}{{#notFile}}@FormParam(value = "{{paramName}}")  {{{dataType}}} {{paramName}}{{/notFile}}{{#isFile}} @FormParam(value = "{{paramName}}") java.io.InputStream {{paramName}}InputStream{{/isFile}}{{/isFormParam}}