{{#isFormParam}}{{#notFile}}@FormParam(value = "{{baseName}}")  {{{dataType}}} {{paramName}}{{/notFile}}{{#isFile}} @FormParam(value = "{{baseName}}") InputStream {{paramName}}InputStream,
{{#useBeanValidation}}@Valid{{/useBeanValidation}}
@FormParam(value = "{{baseName}}") Attachment {{paramName}}Detail
{{/isFile}}{{/isFormParam}}