package {{packageName}}

{{#imports}}//import {{import}}
{{/imports}}

import _root_.argonaut._, Argonaut._
import com.twitter.finagle.Service
import com.twitter.finagle.http.{Request, Response}
import com.twitter.finagle.http.exp.Multipart.FileUpload
import com.twitter.util.Future
import argonaut.Argonaut._
import io.finch._, items._
import io.finch.argonaut._
import java.io.File

object {{classname}} {
    /**
    * Compiles all service endpoints.
    * @return Bundled compilation of all service endpoints.
    */
    public def endpoints(da: DataAccessor) =
    {{#operations}}
        {{#operation}}
            {{{operationId}}}(da){{^-last}} :+:{{/-last}}
        {{/operation}}
    {{/operations}}

    {{#operations}}
        {{#operation}}
        /**
        * {{{description}}}
        * @return And endpoint representing a {{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}Unit{{/returnType}}
        */
        private def {{operationId}}(da: DataAccessor): Endpoint[{{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}Unit{{/returnType}}] =
            post( {{{vendorExtensions.x-scala-path}}} {{#allParams}}{{^isPathParam}}{{{dataType}}}{{^-last}} ? {{/-last}}{{/isPathParam}}{{/allParams}}) { {{#hasParams}}({{#allParams}}{{paramName}}: {{{dataType}}}{{^-last}}, {{/-last}}{{/allParams}}) => {{/hasParams}}
            {{#returnType}}
                Ok(da.{{baseName}}_{{operationId}}({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}}))
            {{/returnType}}
            {{^returnType}}
                NoContent(da.{{baseName}}_{{operationId}}({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}}))
            {{/returnType}}
        }

        {{/operation}}
    {{/operations}}
}
