package {{package}}

{{#imports}}import {{import}}
{{/imports}}

{{#models}}

{{#model}}

class {{classname}} (
  {{#vars}}

  {{#description}}/* {{{description}}} */
  {{/description}}
  _{{name}}: {{datatype}}{{#hasMore}},{{newline}}  {{/hasMore}}
  {{/vars}})
{
  {{#vars}}
  def {{name}} : {{datatype}} = _{{name}}

  
  {{/vars}}
}

{{/model}}
{{/models}}