package {{package}}

{{#imports}}import {{import}}
{{/imports}}
import com.fasterxml.jackson.annotation.{JsonProperty, JsonCreator}

{{#models}}
{{#model}}
class {{classname}} @JsonCreator() (
  {{#vars}}

  {{#description}}/* {{{description}}} */
  {{/description}}
  @JsonProperty("{{name}}") _{{name}}: {{datatype}}{{#hasMore}},{{newline}}  {{/hasMore}}
  {{/vars}})
{
  {{#vars}}
  def {{name}} : {{datatype}} = _{{name}}

  
  {{/vars}}
}

{{/model}}
{{/models}}