{{>partial_header}}
package main

import (
	"log"
	"net/http"

	sw "{{goModule}}/{{apiPath}}"
)

func main() {
	log.Printf("Server started")

	router := sw.NewRouter()

	log.Fatal(http.ListenAndServe(":{{serverPort}}", router))
}
