using System;
using System.Collections.Generic;

using {{packageName}}.Client;
{{#hasImport}}using {{packageName}}.Model;
{{/hasImport}}

namespace {{packageName}}.Api
{
    {{#operations}}
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface I{{classname}}<T>
    {
        {{#operation}}
        /// <summary>
        /// {{summary}} {{notes}}
        /// </summary>
        {{#allParams}}/// <param name="{{paramName}}">{{description}}</param>
        {{/allParams}}/// <returns>{{#returnType}}{{returnType}}{{/returnType}} **** actually api returns alway void but this is the type of content that will be passed to the callback</returns>
        {{#returnType}}void{{/returnType}} {{nickname}} ({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
        {{/operation}}

        /// <summary>
        /// Callback to be invoke when we get successful response from the webservice
        /// T is the type of the response we expect
        /// </summary>
        Action<T> successHandler { get; set; }
        /// <summary>
        // Callback to be invoke when we get failed response from the webservice
        /// </summary>
        Action<ApiException> failHandler { get; set; }
        /// <summary>
        /// Timeout for the request to the webservice
        /// </summary>
        /// <param name="timeout">in seconds </param>
        void SetTimeout(float timeout);
        /// <summary>
        /// Sets the base path for the request
        /// </summary>
        /// <param name="path"></param>
        void SetBasePath(string path);
        /// <summary>
       /// Add header.
       /// </summary>
       /// <param name="key">Header field name.</param>
       /// <param name="value">Header field value.</param>
       /// <returns></returns>
       void AddHeader(string key, string value);


    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class {{classname}}<T> : I{{classname}}<T>
    {

        /// <summary>
        /// Initializes a new instance of the <see cref="{{classname}}"/> class.
        /// </summary>
        /// <returns></returns>
        public {{classname}}(ApiClient apiClient)
        {
        ApiClient = apiClient;
        }



        public Action<T> successHandler { get; set; }
        public Action<ApiException> failHandler { get; set; }

        public void SetTimeout(float timeout)
        {
            ApiClient.SetTimeout(timeout);
        }

        public void SetBasePath(string path)
        {
            ApiClient.BasePath=path;
        }

        public void AddHeader(string key, string value)
         {
             ApiClient.AddDefaultHeader(key,value);
         }


        /// <summary>
        /// Gets or sets the API client.
        /// </summary>
        /// <value>An instance of the ApiClient</value>
        private ApiClient ApiClient {get; set;}

        {{#operation}}
        /// <summary>
        /// {{summary}} {{notes}}
        /// </summary>
        {{#allParams}}/// <param name="{{paramName}}">{{description}}</param>
        {{/allParams}}/// <returns>{{#returnType}}{{returnType}}{{/returnType}}</returns>
        public {{#returnType}}void{{/returnType}} {{nickname}} ({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
        {
            {{#allParams}}{{#required}}
            // verify the required parameter '{{paramName}}' is set
            if ({{paramName}} == null) failHandler( new ApiException(400, "Missing required parameter '{{paramName}}' when calling {{nickname}}"));
            {{/required}}{{/allParams}}



            var path = "{{path}}";
            path = path.Replace("{format}", "json");
            {{#pathParams}}path = path.Replace("{" + "{{baseName}}" + "}", ApiClient.ParameterToString({{{paramName}}}));
            {{/pathParams}}

            Dictionary<string, string> queryParameters = null;

            {{#queryParams}}
            // add query parameters
            if ({{paramName}} != null)   {
              queryParameters = new Dictionary<string, string>();
              queryParameters.Add("{{baseName}}", ApiClient.ParameterToString({{paramName}}));
            }
            {{/queryParams}}

            ApiClient.Send<T> (path,successHandler, failHandler , queryParameters);

        }

        {{/operation}}
    }
    {{/operations}}
}
