using System.Collections.Generic;
using System;
using RSG;

using {{packageName}}.Client;
{{#hasImport}}using {{packageName}}.Model;
{{/hasImport}}

namespace {{packageName}}.Api
{
    {{#operations}}
    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface I{{classname}}
    {
        {{#operation}}
        /// <summary>
        /// {{summary}} {{notes}}
        /// </summary>
        {{#allParams}}/// <param name="{{paramName}}">{{description}}</param>
        {{/allParams}}/// <returns>IPromise<{{{returnType}}}></returns>
        {{#returnType}}IPromise<{{{returnType}}}>{{/returnType}} {{nickname}} ({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
        {{/operation}}

        /// <summary>
        /// Timeout for the request to the webservice
        /// </summary>
        /// <param name="timeout">in seconds </param>
        void SetTimeout(float timeout);

        /// <summary>
        /// number of retries that will be attempted if the request fails
        /// </summary>
        /// <param name="value"></param>
        void SetRetries(int value);

        /// <summary>
        /// Sets the base path for the request
        /// </summary>
        /// <param name="path"></param>
        void SetBasePath(string path);

        /// <summary>
        /// Adds header.
        /// </summary>
        /// <param name="key">Header field name.</param>
        /// <param name="value">Header field value.</param>
        /// <returns></returns>
        void AddHeader(string key, string value);


    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class {{classname}} : I{{classname}}
    {

        /// <summary>
        /// Initializes a new instance of the <see cref="{{classname}}"/> class.
        /// </summary>
        /// <returns></returns>
        public {{classname}}(ApiClient apiClient)
        {
          ApiClient = apiClient;
        }

        public void SetTimeout(float timeout)
        {
            ApiClient.SetTimeout(timeout);
        }

        public void SetBasePath(string path)
        {
            ApiClient.BasePath=path;
        }

        public void AddHeader(string key, string value)
         {
             ApiClient.AddDefaultHeader(key,value);
         }

        private int _retries = 0;
        public void SetRetries(int retries)
             {
                _retries =retries;
             }

        /// <summary>
        /// Gets or sets the API client.
        /// </summary>
        /// <value>An instance of the ApiClient</value>
        private ApiClient ApiClient {get; set;}

        {{#operation}}
        /// <summary>
        /// {{summary}} {{notes}}
        /// </summary>
        {{#allParams}}/// <param name="{{paramName}}">{{description}}</param>
        {{/allParams}}/// <returns>A Promise with {{#returnType}}{{{returnType}}}{{/returnType}}</returns>
        public {{#returnType}}IPromise<{{{returnType}}}>{{/returnType}} {{nickname}} ({{#allParams}}{{{dataType}}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
        {
            var promise = new Promise<{{{returnType}}}>();
            {{#allParams}}{{#required}}
            // verify the required parameter '{{paramName}}' is set
            if ({{paramName}} == null) {
              promise.Reject(new ApiException(400, "Missing required parameter '{{paramName}}' when calling {{classname}}.{{nickname}}"));
              return promise;
            }
            {{/required}}{{/allParams}}

            var path = "{{path}}";
            path = path.Replace("{format}", "json");
            {{#pathParams}}path = path.Replace("{" + "{{baseName}}" + "}", ApiClient.ParameterToString({{{paramName}}}));
            {{/pathParams}}

            Dictionary<string, string> queryParameters = null;

            {{#queryParams}}
            // add query parameters
            if ({{paramName}} != null)   {
              queryParameters = new Dictionary<string, string>();
              queryParameters.Add("{{baseName}}", ApiClient.ParameterToString({{paramName}}));
            }
            {{/queryParams}}

            //  ApiClient.Send<{{{returnType}}}> (path, (response) => promise.Resolve(response), (exception) => promise.Reject(exception) , queryParameters);
            invokeWithRetries<{{{returnType}}}>(_retries, path, queryParameters, promise, null);
            return promise;
        }

        {{/operation}}

        private void invokeWithRetries<T>(int counter, string path, Dictionary<string, string> queryParameters, Promise<T> promise, ApiException apiException)
       {
           if (counter >= 0)
           {
               ApiClient.Send<T>(path, (response) => promise.Resolve(response), (exception) => invokeWithRetries(--counter, path, queryParameters, promise, exception), queryParameters);
           }
           else
           {
               var retryException = new ApiException(999, String.Format("Too Many Retries({2}). ErrorCode {0} - Error: {1} ", apiException.ErrorCode, apiException.Message, this._retries), apiException.ErrorContent);
               retryException.Path = path;
               promise.Reject(retryException);
           }
       }

    }
    {{/operations}}
}
