package {{package}} {

import flash.utils.Dictionary;
{{#imports}}import {{import}};
{{/imports}}

{{#models}}
{{#model}}

    public class {{classname}} {
        {{#vars}}
        {{#description}}/* {{description}} */
        {{/description}}
        {{#isContainer}}
    // This declaration below of _{{name}}_obj_class is to force flash compiler to include this class
        private var _{{name}}_obj_class: {{{datatype}}} = null;
        {{/isContainer}}
        public var {{name}}:{{{datatype}}}={{#isListContainer}}new {{{datatype}}}(){{/isListContainer}}{{^isListContainer}}{{{defaultValue}}}{{/isListContainer}};

    {{/vars}}

    public function toString(): String {
        var str: String = "{{classname}}: ";
        {{#vars}}
        str += " ({{name}}: " + {{name}} + ")";
        {{/vars}}
        return str;
    }

}
{{/model}}
{{/models}}

}
