package {{package}} {

import io.swagger.common.ListWrapper;
{{#imports}}import {{import}};
{{/imports}}

{{#models}}
{{#model}}
    public class {{classname}}List implements ListWrapper {
        // This declaration below of _{{name}}_obj_class is to force flash compiler to include this class
        private var _{{classVarName}}_obj_class: {{package}}.{{classname}} = null;

{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}}({{dataType}} value) {
    this.value = value;
  }

        public var {{classVarName}}: Vector<{{classname}}> = new Vector<{{classname}}>();

        public function getList(): Vector<{{classname}}>{
            return {{classVarName}};
        }

}
{{/model}}
        {{/models}}

}
