package {{apiPackage}};

import java.util.HashSet;
import java.util.Set;
import javax.ws.rs.core.Application;

public class App extends Application{

    @Override
    public Set<Class<?>> getClasses() {
	Set<Class<?>> classes = new HashSet<>();

	//TODO: add resource classes to hashset

        return classes;
    }

}
