package {{apiPackage}};

import io.undertow.Undertow;
import io.undertow.servlet.Servlets;
import io.undertow.servlet.api.DeploymentInfo;
import javax.servlet.DispatcherType;
import org.jboss.resteasy.plugins.server.undertow.UndertowJaxrsServer;

public class Startup {
    
    private static final String PORT_PROPERTY = "MICROSERVICE_PORT";
    
    public static void main(String ... args){
	String portValue = System.getenv(PORT_PROPERTY) != null ? System.getenv(PORT_PROPERTY) : "9000";
        int port = Integer.parseInt(portValue);
        UndertowJaxrsServer server = new UndertowJaxrsServer().
                start(Undertow.builder().addHttpListener(port, "0.0.0.0"));

	DeploymentInfo deployment = server.undertowDeployment(App.class).addFilter(
                Servlets.filter("xorigin", ApiOriginFilter.class)).
                addFilterUrlMapping("xorigin", "/*", DispatcherType.REQUEST).
                setDeploymentName("Service").
                setContextPath("/");
        
        server.deploy(deployment);
    }
}
