package {{apiPackage}};

import com.networknt.config.Config;
import com.networknt.server.HandlerProvider;
import io.undertow.Handlers;
import io.undertow.server.HttpHandler;
import io.undertow.server.HttpServerExchange;
import io.undertow.util.Methods;

public class PathHandlerProvider implements HandlerProvider {

    public HttpHandler getHandler() {
        HttpHandler handler = Handlers.routing()
{{#apiInfo}}
{{#apis}}
{{#operations}}
{{#operation}}
            .add(Methods.{{httpMethod}}, "{{basePathWithoutHost}}{{path}}", new {{classname}}())
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}
        ;
        return handler;
    }
}

