# This is the place to plugin your startup hooks to initialize Spring application context,
# set up db connection pools and allocate resources.

# config Json Path to use Jackson Parser
com.networknt.server.JsonPathStartupHookProvider
