export class Configuration {
    apiKey?: {
{{#authMethods}}
{{#isApiKey}}
        {{keyParamName}}: string;
{{/isApiKey}}
{{/authMethods}}
    };
    usernam?: string;
    password?: string;
    accessToken?: string;
}
