// tslint:disable
{{>licenseInfo}}

export interface {{apiConfigClassName}}Parameters {
    apiKey?: string | ((name: string) => string);
    username?: string;
    password?: string;
    accessToken?: string | ((name: string, scopes?: string[]) => string);
    basePath?: string;
}

export class {{apiConfigClassName}} {
    /**
     * parameter for apiKey security
     * @param name security name
     * @memberof {{apiConfigClassName}}
     */
    apiKey?: string | ((name: string) => string);
    /**
     * parameter for basic security
     * 
     * @type {string}
     * @memberof {{apiConfigClassName}}
     */
    username?: string;
    /**
     * parameter for basic security
     * 
     * @type {string}
     * @memberof {{apiConfigClassName}}
     */
    password?: string;
    /**
     * parameter for oauth2 security
     * @param name security name
     * @param scopes oauth2 scope
     * @memberof {{apiConfigClassName}}
     */
    accessToken?: string | ((name: string, scopes?: string[]) => string);
    /**
     * override base path
     * 
     * @type {string}
     * @memberof {{apiConfigClassName}}
     */
    basePath?: string;

    constructor(param: {{apiConfigClassName}}Parameters = {}) {
        this.apiKey = param.apiKey;
        this.username = param.username;
        this.password = param.password;
        this.accessToken = param.accessToken;
        this.basePath = param.basePath;
    }
}
