{{#isQueryParam}}  {{paramName}}{{/isQueryParam}}{{#isPathParam}}  {{paramName}}{{/isPathParam}}{{#isHeaderParam}}  {{paramName}}{{/isHeaderParam}}{{#isBodyParam}}{{paramName}}{{/isBodyParam}}{{#isFormParam}}{{#notFile}}  {{paramName}}{{/notFile}}{{#isFile}}  inputStream,  fileDetail{{/isFile}}{{/isFormParam}}