package {{invokerPackage}};

import javax.ws.rs.ApplicationPath;
import javax.ws.rs.core.Application;

import java.util.Set;
import java.util.HashSet;

{{#apiInfo}}
{{#apis}}
import {{invokerPackage}}.impl.{{classname}}ServiceImpl;
{{/apis}}
{{/apiInfo}}   

@ApplicationPath("/")
public class RestApplication extends Application {

    public Set<Class<?>> getClasses() {
        Set<Class<?>> resources = new HashSet<Class<?>>();
{{#apiInfo}}
{{#apis}}
        resources.add({{classname}}ServiceImpl.class);
{{/apis}}
{{/apiInfo}}        
        
        //resources.add(io.swagger.jaxrs.listing.ApiListingResource.class);
        //resources.add(io.swagger.jaxrs.listing.SwaggerSerializers.class);
        
        return resources;
    }




}