  private Retrofit.Builder addMappingConverterFactory(Retrofit.Builder builder) {
    {{#jsr310}}
    ThreeTenModule module = new ThreeTenModule();
    module.addDeserializer(Instant.class, CustomInstantDeserializer.INSTANT);
    module.addDeserializer(OffsetDateTime.class, CustomInstantDeserializer.OFFSET_DATE_TIME);
    module.addDeserializer(ZonedDateTime.class, CustomInstantDeserializer.ZONED_DATE_TIME);
    mapper.registerModule(module);
    {{/jsr310}}
    {{#joda}}
    mapper.registerModule(new JodaModule());
    {{/joda}}
    mapper.disable(SerializationFeature.WRITE_DATES_AS_TIMESTAMPS);
    mapper.enable(SerializationFeature.WRITE_ENUMS_USING_TO_STRING);
    mapper.enable(DeserializationFeature.READ_ENUMS_USING_TO_STRING);
    return builder.addConverterFactory(JacksonConverterFactory.create(mapper));
  }

  public ApiClient setDateFormat(DateFormat dateFormat) {
    mapper = mapper.setDateFormat(dateFormat);
    return this;
  }