target/
bower_components/
node_modules/
dist/
.idea/
.tmp/
.project
.classpath
.settings
.metadata/
*.iml
*.log
*.tmp
*.zip
*.bak

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
