# There is built in shutdown hook at the moment within the framework.
# If you want to close database connections, release allocated resources etc. please
# implement com.networknt.server.ShutdownHookProvider interface and put your class here.
