{{>licenseInfo}}
package {{apiPackage}}

import com.google.gson.*
import io.ktor.application.*
import io.ktor.auth.*
import io.ktor.http.*
import io.ktor.locations.*
import io.ktor.response.*
import io.ktor.routing.*
import io.swagger.server.*
import io.swagger.server.infrastructure.*
import {{packageName}}.*
import {{packageName}}.HTTP.client

{{#imports}}import {{import}}
{{/imports}}

{{#operations}}
fun Route.{{classname}}() {
    val gson = Gson()
    val empty = mutableMapOf<String, Any?>()
{{#operation}}
{{#hasAuthMethods}}
{{#authMethods}}
{{#isApiKey}}
    authenticate("apikey-{{{name}}}") {
        {{#lambda.indented_4}}{{>_operation}}{{/lambda.indented_4}}
    }
{{/isApiKey}}
{{#isOauth}}
    authenticate("oauth-{{{name}}}") {
        {{#lambda.indented_4}}{{>_operation}}{{/lambda.indented_4}}
    }
{{/isOauth}}
{{#isBasic}}
    authenticate("basic-{{{name}}}") {
        {{#lambda.indented_4}}{{>_operation}}{{/lambda.indented_4}}
    }
{{/isBasic}}
{{/authMethods}}
{{/hasAuthMethods}}
{{^hasAuthMethods}}
{{#lambda.indented_4}}{{>_operation}}{{/lambda.indented_4}}
{{/hasAuthMethods}}
{{/operation}}
}
{{/operations}}