{{>licenseInfo}}
package {{apiPackage}}

import com.google.gson.*
import io.ktor.application.*
import io.ktor.auth.*
import io.ktor.http.*
import io.ktor.locations.*
import io.ktor.response.*
import io.ktor.routing.*
import io.swagger.server.*
import io.swagger.server.infrastructure.*
import {{packageName}}.*
import {{packageName}}.HTTP.client

{{#imports}}import {{import}}
{{/imports}}

{{#operations}}
fun Route.{{classname}}() {
    val gson = Gson()
    val empty = mutableMapOf<String, Any?>()
{{#operation}}
{{#hasAuthMethods}}
{{#authMethods}}
{{#isApiKey}}authenticate("apikey-{{{name}}}") { {{>_operation}} } {{/isApiKey}}
{{#isOauth}}authenticate("oauth-{{{name}}}") { {{>_operation}} } {{/isOauth}}
{{#isBasic}}authenticate("basic-{{{name}}}") { {{>_operation}} } {{/isBasic}}
{{/authMethods}}
{{/hasAuthMethods}}
{{^hasAuthMethods}}
{{>_operation}}
{{/hasAuthMethods}}
{{/operation}}
}
{{/operations}}