{{>licenseInfo}}

package {{invokerPackage}}.action;

import {{invokerPackage}}.ApiException;
{{#imports}}import {{import}};
{{/imports}}
import com.microstrategy.yati.*;
import com.microstrategy.yatilibrary.*;
import com.microstrategy.yatiactions.rest.*;

//import java.util.ArrayList;

{{#operations}}{{#operation}}
/**
 * API tests for {{operationId}} in {{classname}}
 */
public class {{operationIdCamelCase}}Action extends Action{
	
	{{#allParams}}
    private {{{dataType}}} {{paramName}};
    {{/allParams}}
	{{/operation}}{{/operations}}
	private StateContainer initialization;
	
    private final {{classname}} api = new {{classname}}();

    @Override
	public int initialize(StateContainer parameters, ActionContextInterface actionContext) throws Exception {
        initialization = parameters;
        return EnumYatiTestResults.Ok;
    }
    
	
    @Override
	public int execute(StateContainer state, ActionContextInterface actionContext) throws Exception {
	
		ApiClient apiClient = (ApiClient)state.get("apiClient");
		api.setApiClient(apiClient);
		
	{{#operations}}{{#operation}}
        {{#allParams}}
        {{{dataType}}} {{paramName}} = ({{{dataType}}})Utils.getParameter("{{paramName}}", initialization, state, ({{{dataType}}})({{defaultTestValue}}));
        {{#required}}
  		if ({{paramName}} == null){
	  		Utils.logMessage("Abort", "{{paramName}} not provided", actionContext);
	 		 return EnumYatiTestResults.Abort;
  		}
  		{{/required}}
        {{/allParams}}
        {{#returnType}}{{{returnType}}} response{{/returnType}};
        try{
        	{{#returnType}}response = {{/returnType}}api.{{operationId}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
		}catch(ApiException e){
			Utils.logMessage("Fail", e.getMessage(), actionContext);
			return EnumYatiTestResults.Fail;
		}
		{{#responses}}{{#isDefault}}
		{{#returnType}}state.put("rest{{returnType}}", response);{{/returnType}}
		Utils.logMessage("Info", "{{message}}", actionContext);
		return EnumYatiTestResults.Ok;
		{{/isDefault}}{{/responses}}
     {{/operation}}{{/operations}}    
    }    
}
