{{#required}}
  @NotNull
{{/required}}
{{#pattern}}
  @Pattern(regexp="{{pattern}}")
{{/pattern}}
{{#minLength}}
{{#maxLength}}
  @Size(min={{minLength}},max={{maxLength}})
{{/maxLength}}
{{/minLength}}
{{#minLength}}
{{^maxLength}}
  @Size(min={{minLength}})
{{/maxLength}}
{{/minLength}}
{{^minLength}}
{{#maxLength}}
  @Size(max={{maxLength}})
  {{/maxLength}}
  {{/minLength}}
{{#minimum}}
  //@Min({{minimum}})
{{/minimum}}
{{#maximum}}
  //@Max({{maximum}})
{{/maximum}}