
  public enum {{{datatypeWithEnum}}} {
    {{#enumVars}}{{{name}}}("{{{value}}}"){{^-last}},
    {{/-last}}{{#-last}};{{/-last}}{{/enumVars}}

    private String value;

    {{{datatypeWithEnum}}}(String value) {
      this.value = value;
    }

    @Override
    @JsonValue
    public String toString() {
      return value;
    }
  }
