{{>licenseInfo}}

package {{package}};

import java.util.Objects;
{{#imports}}
import {{import}};
import javax.validation.constraints.*;
{{/imports}}

{{#serializableModel}}import java.io.Serializable;{{/serializableModel}}
{{#models}}
{{#model}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>pojo}}{{/isEnum}}
{{/model}}
{{/models}}
