( "{{baseName}}", {{#discriminatorValue}}Encode.string "{{discriminatorValue}}"{{/discriminatorValue}}{{^discriminatorValue}}{{^required}}withDefault Encode.null (map ({{/required}}{{#isContainer}}Encode.list {{/isContainer}}{{vendorExtensions.x-encoder}}{{#isContainer}}{{/isContainer}}{{^required}}){{/required}} model.{{name}}{{^required}}){{/required}}{{/discriminatorValue}} )