package {{configPackage}};

public class WebApplication  {

    protected Class<?>[] getRootConfigClasses() {
        return new Class[] { SwaggerConfig.class };
    }

    protected Class<?>[] getServletConfigClasses() {
        return new Class<?>[] { WebMvcConfiguration.class };
    }

    protected String[] getServletMappings() {
        return new String[] { "/" };
    }
}
