package {{package}};

{{#imports}}import {{import}};
{{/imports}}

import java.util.List;
import java.util.ArrayList;
import java.util.HashMap;

{{#operations}}
public interface {{classname}}ControllerImpInterface {
{{#operation}}
    {{>returnTypes}} {{operationId}}({{#allParams}}{{>pathParams}}{{>queryParams}}{{>bodyParams}}{{>formParams}}{{>headerParams}}{{#hasMore}}, {{/hasMore}}{{/allParams}});

{{/operation}}
}
{{/operations}}