{{#defaultValue}}{{#isBoolean}}{{{defaultValue}}}{{/isBoolean}}{{#isInteger}}{{{defaultValue}}}{{/isInteger}}{{#isDouble}}{{{defaultValue}}}{{/isDouble}}{{#isLong}}{{{defaultValue}}}{{/isLong}}{{#isFloat}}{{{defaultValue}}}{{/isFloat}}{{#isString}}"{{{defaultValue}}}"{{/isString}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}}